
html, body {
    padding: 0;
    margin: 0;
}

body {
    background: #ECEFF1;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #FFF;
    box-sizing: border-box;

}
  
*, *:before, *:after {
    box-sizing: inherit;

}
  

  
a {
    text-decoration: none;
    cursor: pointer;
}
  
.top-bar {
    z-index: 20;
    position: relative;
    width: 100%;
    background-color: #ebebeb;
    height: 48px;
    box-shadow: 0 1px 5.5px 0 rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    padding: 0px 10px;

}
.top-bar i {
    display: none;
}
.top-bar .logo__siecons {
    height: 28px;
    margin: 10px;


}
  
.mobile-logo {
    display: none;
}
i.nav__toggle{
    color: rgb(29, 29, 29);
}
  
.nav {
    z-index: 10;
    position: absolute;
    top: 48px;
    overflow-y: auto;
    width: 248px;

    height: calc(100% - 48px);
    background-color: #FFF;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
  
  
.nav__label {
    font-weight: 300;
    display: block;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-size: 12px;
    color: #B5B5B5;
    padding: 15px 24px;

}
.nav__item {
    font-weight: 400;
    display: block;
    font-size: 14px;
    color: #757575;
    padding: 11px 25px;
    display: flex;
    align-items: center;
}
.nav__item.overview {
    color: #589708;
    border-bottom: 1px solid #E4E4E4;
    background-color: #FAFAFA;
    height: 54px;
    margin-bottom: 12px;
}
.nav__item:hover {
    background-color: #ECECEC;
    cursor: pointer;
}
.nav__item i {
    display: flex;
    justify-content: center;
    width: 15px;
    margin-right: 20px;

}
.user__acc {
    border-top: 1px solid #ebebeb;
    margin-top: 20px;
}
.user__name {
    color: #757575;
    font-weight: 600;
    display: block;
    font-size: 16px;
    margin-top: 160px;
    margin-left: 0px;
    text-align: center;
    transition: all .2s;
    width: 100%; height: 28px;
    transform: translate(0, -80px);
}
.user__acc a{
    color: #757575;
    font-weight: 600;
    display: block;
    font-size: 14px;
    margin-top: 0px;
    margin-left: -2px;
    text-align: center;
    transition: all .2s;
    width: 100%; height: 40px;
    transform: translate(0, -80px);

}
.user__acc a:hover {
    color: #589708;
    transition: all .2s;
}

.main {
    position: absolute;
    left: 248px;
    width: calc(100% - 248px);
    height: calc(100% - 48px);
}
.main .title-bar {
    background-color: #fff;
    height: 54px;
    width: 100%;
    display: flex;
    align-items: center;
    
}
.empresa-name {
    font-size: 20px;
    font-weight: 300;
    margin-left: 24px;
    color: #589708;
    
}
.main .content-area {
    position: relative;
    height: calc(100% - 54px);
    color: #999;
    display: flex;
    justify-content: center;
}
.main .content-area {
    align-self: center;
}

@media only screen and (max-width: 920px) {
    .top-bar {
        z-index: 20;
        position: relative;
        width: 100%;
        background-color: #ebebeb;
        height: 48px;
        box-shadow: 0 1px 5.5px 0 rgba(0, 0, 0, 0.4);
        display: flex;
        align-items: center;
        padding: 0px 10px;
    }
    .top-bar i {
        display: block;
        font-size: 18px;
        margin: 10px 14px;
        opacity: .7;
        cursor: pointer;
    }
    .top-bar .logo__siecons{
        display: none;
        height: 18px;
    }

    .mobile-logo {
        height: 48px;
        display: flex;
        align-items: center;
        padding: 0px 10px;
        border-bottom: 1px solid #E4E4E4;
    }
    .mobile-logo .logo__siecons{
        display: inline-block;
        height: 28px;
        margin: 10px;
    }
    .mobile-logo .logo__text {
        display: inline-block;
        height: 18px;
        opacity: .6;
    }

    .mobile-mask.show {
        display: block;
        z-index: 25;
        background: #000;
        opacity: .5;
        top: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        cursor: pointer;
    }

    .nav {
        display: none;
    }
    .nav.show {
        display: block;
        z-index: 30;
        position: absolute;
        top: 0px;
        overflow-y: auto;
        width: 248px;
        height: 100%;
        background-color: #FFF;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);


    }
    .main {
        position: absolute;
        left: 0px;
        width: 100%;
    }

    .main .title-bar {
        background-color: #fff;
        height: 54px;
        width: 100%;
        display: flex;
        align-items: center;


    }
    .main .empresa-name {
        font-size: 20px;
        font-weight: 300;
        margin-left: 24px;
    }
}
  
#matriz {
    width: 100%; height: auto;
    margin: 20px;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 0;
}
.matriz-container {
    width: 100%; height: auto;
    display: grid;
    padding: 0 20px;
    border-radius: 12px;
}
#matriz-center {
    width: 100%; height: 320px;
    display: flex;
    background: #fff;
    align-items: center;
    border-radius: 12px;
    padding: 0 20px;
}
.codigo {
    background: lightblue;
    text-align: center;
    padding: 138px 0;
}
  
.capacidades {
    width: 400px;
    text-align: right;
}
.grupo {
    width: auto;
    display: flex;
    margin-left: -2px;
}
.grupo-header {
    width: 280px;
    display: flex;
    transform: rotate(-90deg);
    background: lightblue;
    padding: 8px;
}
.legajo {
    transform: translate(14px,0);
    font-weight: 700;
}
.grupo-name{
    width: 200px;
    text-align: center;
    transform: translate(20px,0);
    font-weight: 700;
}
.grupo-personas{
    display: flex;
    transform: translate(-100px,0);
    margin-right: -200px;
}
.persona {
    width: auto;
    display: flex;
    margin: 0 -120px;
    transform: rotate(-90deg);
}
.persona-legajo {
    transform: translate(12px, 0);
    width: auto;
    text-align: left;
}
.persona-name {
    width: 240px;
    transform: translate(12px, 0);
    margin-left: 0px;
    text-align: center;
}
.box-bk {
    display: flex;
    width: auto;
    margin-left: 120px;
    text-align: center;
}
.left-box {
    background: lightblue;
}
.center-box {
    background: lightcoral;
}
.right-box {
    background: lightgreen;
}
.left-box,.center-box,.right-box {
    width: 280px;
    transform: rotate(-90deg);
    margin: 0 -120px;
    padding: 8px;
}
  
  
#matriz__bottom {
    width: 100%; height: auto;
    display: grid;
    background: #fff;
    align-items: center;
    border-radius: 12px;
    padding: 0 20px;
    margin: 20px 0;
}
.code__line {
    display: flex;
    border-bottom: 1px solid #ebebeb;
}
.code__line__number {
    width: 51.11px;
    text-align: center;
}
.code__line__type {
    width: 400px;
    text-align: right;
    margin-right: 29px;
}
.code__line__column {
    width: 48.2px;
    background: lightskyblue;
    padding: 0 14px;
    text-align: center;
}
.code__line__number__container {
    display: flex;
    margin-left: 77px;
}
.code__line__number__area {
    width: auto;
    display: flex;
    margin-right: 37px;
}
.code__line__column__person {
    display: flex;
}
.code__line__column__person__cant {
    width: 60px;
    padding: 0 0px;
    margin-left: -0.2px;
    text-align: center;
}
  
  