@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


/**********    Diseño y Desarrollo propiedad de www.soluturing.com     ************/

html,body{
    margin: 0;
    padding: 0;
    width: 100%;
}
body{
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #656A6F;
    font-weight: 400;
}

/***-----------------------top wrapper----------------------***/


header {
    width: 100%; height: auto;
	position: fixed;
	z-index: 2000;
}
.top__wrapper {
    width: 100%; height: 32px;
	background: #589708;
	font-family: 'Poppins', sans-serif;
	z-index: 2000;
	position: absolute;
	margin-top: 0px;
}

.top__wrapper__container{
	width: 1020px; height: 32px;
	margin: 0px auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0px;
}
a.wrapper__text__container {
	font-size: 12px;
	padding-right: 8px;
    color: #fff;
    text-decoration: none;
    text-align: right;
    float: right;
}
.wrapper__text__container {
    text-transform: none;
    color: #fff;
    transition: all .6s;
    animation: sacudir 2s infinite;
    transition: all .6s;
}
@keyframes sacudir {
    20% { transform: scale(1.08);}
}
.wrapper__text__container i{
    padding: 0 0 0 12px;
}
.wrapper__left {
	padding-right: 20px;
	font-size: 12px;
	color: white;
	font-family: 'Poppins', sans-serif;
}
.wrapper__text__container:hover {
    transition: all .6s;
    text-decoration: underline;
}
.wrapper__text__container i:hover{
	color: #fff;
}
.right__lang {
    width: 40px; height: auto;
    padding: 0;
    transform: translate(-40px, 4px);
    align-items: center;
    display: flex;
}
.right__lang img {
    padding: 0 8px;
}




@media screen and (max-width:900px) {
	header {
		width: 100%; height: auto;
		position: fixed;
		z-index: 2000;
	}
	.top__wrapper {
		width: 100%; height: 40px;
		background: #589708;
		font-family: 'Poppins', sans-serif;
		z-index: 2000;
		position: absolute;
		margin-top: 0px;
	}
	
	.top__wrapper__container{
		width: 100%; height: 40px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: white;
		font-family: 'Poppins', sans-serif;
		letter-spacing: 0px;
	}
	a.wrapper__text__container {
		font-size: 14px;
		padding-right: 8px;
		color: #fff;
		text-decoration: none;
		text-align: right;
		float: right;
	}
	.wrapper__text__container {
		text-transform: none;
		color: #fff;
		transition: all .6s;
		animation: sacudir 2s;
		animation-iteration-count: infinite;
		transition: all .6s;
		margin-right: 8px;
	}
	@keyframes sacudir {
		20% { transform: scale(1.06);}
	}
	.wrapper__text__container i{
		padding: 0 0 0 12px;
	}
	.wrapper__left {
		width: 180px; height: auto;
		padding: 0 12px;
		font-size: 12px;
		color: white;
		font-family: 'Poppins', sans-serif;
	}
	.wrapper__text__container:hover {
		transition: all .6s;
		text-decoration: underline;
	}
	.wrapper__text__container i:hover{
		color: #fff;
	}
	.right__lang {
		width: 40px; height: auto;
		padding: 0;
		transform: translate(-40px, 4px);
		align-items: center;
		display: none;
	}
	.right__lang img {
		padding: 0 8px;
	}
	
}





/*-----------------Nav-----------------*/

.wrapper__container {
	width: 1020px; height: 80px;
	margin: 0px auto;
    transition: all .7s;
}
nav.white .wrapper__container {
	width: 1020px; height: 60px;

}
.siecons__logo {
	float: left;
	width: auto; height: 80px;
	display: flex;
	align-items: center;
	font-size: 30px;
	color: #fff;
	transition: all .7s;
	font-weight: 900;
}
nav.white .siecons__logo {
    width: auto; height: 60px;
}
nav .siecons__logo img {
    width: 200px; height: auto;
    transition: all .7s;
}
nav.white .siecons__logo img {
	width: 160px; height: auto;
    transition: all .7s;
    align-items: center;
}
nav {
	width: 100%;
	position: fixed;
	z-index: 2000;
	left: 0;
	right: 0;
	top: 30px;
	vertical-align:top;
	font-family: 'Poppins', sans-serif;
	padding: 0;
	height: 80px;
	background: #fff;
	box-shadow: 0px 15px 6px -17px #589708; 
	transition: all .7s;
    display: grid;
}
nav.white {
	background: #fff;
	height: 60px;
	z-index: 2000;
	top: 30px;
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: auto;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	transition: all .7s;
}
nav.white .links {
	float: right;
	padding: 0;
	margin: 0;
	width: auto;
	height: 60px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
	margin-right: -10px;
}
nav .links a {
	display: block;
	padding: 8px 12px;
	font-size: 14px;
	font-weight: bold;
	color: #202020;
	text-decoration: none;
	transition: all 0.2s;
	text-transform: capitalize;
	letter-spacing: 1.6px;
}
nav.white .links a{
	color: #202020;
}
nav .links .active__link{
	color: #589708;
}
nav .links a:hover {
	color: #589708;
}
nav.white .links .active__link{
	color: #589708;
}
nav.white .links a:hover {
	color: #589708;
}
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:hover:before {
	left: 0;
	right: 0;
}
.hvr-underline-from-center::before{
	content: "";
	position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: linear-gradient(to right, #589708, #589708);
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #589708;
    height: 2px;
    -webkit-transition-property: left,right;
    transition-property: left,right;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
nav.white .hvr-underline-from-center::before {
	background: #589708;
}
nav.white .hvr-underline-from-center::before{
	background: linear-gradient(to right, #589708, #589708);
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
	
}

nav .icon-burger .line {
	width: 22px;
	height: 3px;
	background-color: #827e7a;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
@media screen and (max-width: 900px) {
    nav {
        width: auto; height: 80px;
		margin-top: 10px;
    }
	nav .logo {
		float: left;
		width: auto; height: 80px;
		display: flex;
		align-items: center;
		padding-left: 10px;
		font-size: 28px;
		color: #827e7a;
		transition: all .7s;
	}
	nav.white .logo {
		height: 60px;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(255, 255, 255, 0.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav.white .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 90px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(255, 255, 255, 0.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(8px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-9.1px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	
}

